* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
	height: 100%;
	background-color: gray;
	color: white;
}

body {
	max-width: 900px;
	margin: 0 auto;
}

#root {
	max-width: 400px;
	margin: 100px auto;
	padding: 15px;
}

h1 {
	font-weight: 400;
	letter-spacing: 0.15em;
	font-size: 2.1em;
	margin: 20px;
	margin-bottom: 35px;
}

h2 {
	margin-bottom: 15px;
	font-weight: 400;
	font-size: 2em;
}

p {
	font-size: 1.2em;
}

.card {
	padding: 30px 65px;
	background: url("./imageDark.jpg");
	border-radius: 5px;
}

.actionBtn {
	display: block;
	background-color: rgba(255, 255, 255, 0);
	color: rgba(255, 255, 255, 0.7);
	font-size: 1.2em;
	padding: 15px 30px;
	margin: 0 auto;
	margin-top: 50px;
	border: 1px solid white;
	border-color: rgba(255, 255, 255, 0.7);
	border-radius: 40px;
	backdrop-filter: blur(5px);
}

.actionBtn:hover {
	border-color: white;
	color: white;
	cursor: pointer;
}
